[user]
	name = "Matthew Skinner"
	email = "matthew.skinner@elastic.co"
[alias]
        co = checkout
    	br = branch
	    cm = commit
    	st = status
[merge]
		rebase = false
[init]
    defaultBranch = main
